#brasao{
    width: 200px;
    
}

#navbar{
    background-color: rgb(211, 0, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items:center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
}

.noticia{
    background-color: coral;
    color: white;
    border: 4px solid rgb(0, 162, 255);
}

.img_noticia{
    width: 400px;
}