#brasao{
    width: 200px;
    
}

#navbar{
    background-color: rgb(211, 0, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items:center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}