body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#brasao{
    width: 200px;
    
}

#navbar{
    background-color: rgb(255, 0, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items:center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;

    background-color: rgb(0, 0, 0);
}

.noticia{
    background-color: coral;
    color: white;
    border: 4px solid rgb(255, 255, 255);
}

.img_noticia{
    width: 400px;
}

#ft{
    color: white;
}